<nav class="navbar navbar-expand-lg navbar-dark" style="background:#0b2c4d;">
    <div class="container-fluid">
  
      <a class="navbar-brand d-flex align-items-center gap-2" href="../Homepage.html">
        <img src="../LOGO ThaiPBS.png" height="40">
        <span class="fw-bold">ศูนย์ข้อมูลคนหาย</span>
      </a>
  
      <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-end" id="mainMenu">
        <ul class="navbar-nav align-items-lg-center gap-2">
  
          <li class="nav-item">
            <a class="nav-link" href="../Homepage.html">หน้าหลัก</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" href="../report-missing.html">แจ้งคนหาย</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#">แจ้งเบาะแส</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#">ติดตามเคส</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#">สำหรับเจ้าหน้าที่</a>
          </li>
  
          <li class="nav-item ms-lg-3">
            <button class="btn btn-outline-light rounded-pill">
              <i class="fa-solid fa-user"></i> เข้าสู่ระบบ
            </button>
          </li>
  
        </ul>
      </div>
    </div>
  </nav>